/* グラフを初期状態非表示 */
#myChart {
    display: none;
}

/* カレンダー */
.wrapper {
    max-width: 600px;
    margin-left: 20px;
    color: #666;
}
#header {
    text-align: center;
    font-size: 24px;
    width: 100%;
    margin: 1rem 0 0;
}
#calendar {
    text-align: center;
    width: 100%;
}
table {
    outline: 2px solid #ddd;
    border-collapse: collapse;
    width: 100%;
}
th {
    color: #000;
}
th,
td {
    outline: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
td:first-child {
    color: red;
}
td:last-child {
    color: blue;
}
td.disabled {
    color: #ccc;
}
td.today {
    background-color: #d65e72;
    color: #fff;
}
#next-prev-button {
    position: relative;
}
#next-prev-button button {
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 4px;
    font-size: 30px;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
}
#prev {
    float: left;
}
#next {
    float: right;
}
